.portadaStore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgPortadaStore {
  filter: brightness(0.4);
  width: 100%;
  height: 38rem;
}

.h1PortadaStore {
  position: absolute;
  top: 50%;
  text-align: center;
  color: white;
  font-size: 8rem;
  width: 100%;
}
